@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    a {
        text-decoration: none;
      }
}

body {
    

  
    padding-top: 0px;
    -webkit-touch-callout: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

    font-family: 'Noto Sans KR', sans-serif;
    color: #c69191;
    /* background-color: #5D5FEF; */
}

/* div {
	word-break: keep-all;
} */

button,
input,
textarea,
select {
    font-family: 'Noto Sans KR', sans-serif;
    color: #4B4B4B;
    letter-spacing: -1px;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}


.New-Item {
    overflow: hidden;
    position: auto;
    left: 0;
    bottom: 0;
    width : auto;
    padding-bottom: 0px; /* Adjust as needed based on the height of your footer */
    padding-left: 0;
    padding-right: 0;
    

}
.Pocket-container {
    overflow: hidden;
    position: auto;
    left: -10%;
    bottom: 0;
    padding-top: 0px;
    padding-bottom: 0px; /* Adjust as needed based on the height of your footer */
    width : auto;
    
    padding-right: 0;
}


.Home-Footer {
    overflow: hidden;
    position: auto;
    left: 0;
    bottom: 0;
    width: 80vw;
    min-height: 10vh;
    /* z-index: 999; Set a high z-index value */
    /* Add other styles as needed */
}
  /* ReportPage.css */
