.app-container img {
    /* Ensure the image fits within the container */
    width: 70%;
    height: auto;
    /* Other image styles */
}


.Header-input {
    padding: 10px;
}

/* 검색 아이콘에 오른쪽 패딩 추가 */
.Header-input .MuiSvgIcon-root {
    padding-right: 4px; /* 원하는 패딩 값으로 조정 */
    
    font-size : 1.5em;
}

.Header-input input {
    background-color: #fff;
    
}

.Body-category {
    text-align: center;
}

.Body-card {
    background-color: beige;
    padding: 10px;
}

.box {
    /* width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; */
    transition: box-shadow 0.2s ease-in-out;
}

.clicked {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
}