.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.app-header {
  /* position: auto; */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: gold;
  color: white;
  text-align: center;
  z-index: 999;
}

.app-body {
  position: relative;
  /* top: 0vh; */
  top: 16vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.app-footer {
  /* position: auto; */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* height: 100%; */
  min-height: 8vh;
  background-color: gold;
  color: white;
  text-align: center;
  padding: 5px;
  padding: 5px;
  font-size: 1.6vh;
}

.app-container {
  /* width: 300px; */
  /* Set the width of the container */
  /* height: 200px; */
  /* Set the height of the container */
  overflow: hidden;
  /* Hide the overflow */
  /* border: 1px solid #ccc; */
  /* Optional: Add a border for visualization */
}

.app-container img {
  min-width: 100%;
  /* Restrict the image width to fit container */
  max-height: 100%;
  /* Restrict the image height to fit container */
  display: block;
  /* Ensure image is a block element */
  /* Optionally center the image horizontally */
  margin: 0 auto;
}